/*#desc {
    margin-bottom: 3em;
}*/

#inputs1 {
    /*margin-bottom: 1em;*/
    width: auto;
}

#inputs1 td {
    padding-left: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#inputs1 input {
    min-width: 2.5em;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.inputtable {
    margin-bottom: 1em;
}


#inputs .label {
    padding-bottom: 1.2em !important;
    padding-right: 1em;
}

#vizcontainer {
    padding: 0.5em 3em;
    max-width: 70em;
}

#downloadsvg {
    margin: 1em 4.5em 0;
}

#runsampling {
    margin: 0 0 1em 0;
}


