<div class="sidebar-toc" id="toc-sidebar">
    <ul id="toc-list">
        <!-- TOC will be populated here -->
    </ul>
</div>

<footer>
    <p>
        by Zachary Caterer <br /><br />
        <a href="https://github.com/caterer-z-t"><svg class="svg-icon">
                <use xlink:href="#fa-envelope"></use>
            </svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/caterer-z-t"><svg class="svg-icon">
                <use xlink:href="#fa-github"></use>
            </svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/zacharytcaterer/"><svg class="svg-icon">
                <use xlink:href="#fa-linkedin"></use>
            </svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://orcid.org/0000-0001-9019-0730"><svg class="svg-icon">
                <use xlink:href="#fa-orcid"></use>
            </svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{site.baseurl}}/feed.xml"><svg class="svg-icon">
                <use xlink:href="#fa-rss"></use>
            </svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Use a span to keep everything inline -->
        <span id="theme-toggle">
            <svg class="svg-icon lightbulb-icon">
                <use xlink:href="#fa-lightbulb"></use>
            </svg>
            <svg class="svg-icon moon-icon">
                <use xlink:href="#fa-moon"></use>
            </svg>
        </span>
    </p>
    <br />
</footer>