<nav class="col span_10 top-navbar">
    {% for link in site.data.links %}
    <a href="{{ link.url }}" title="{{ link.title }}" {% if page.url==link.url %}class="current-page" {% endif %}>
        <svg class="svg-icon-header">
            <use xlink:href="#{{ link.icon }}"></use>
        </svg>
        {{ link.title }}
    </a>
    {% endfor %}
</nav>

<!-- Header Navigation Toggle -->
<nav class="header-navbar-toggle" id="menu-toggle" style="display: none;">
    <a href="" title="Menu">
        <svg class="svg-icon-header" id="menu-icon">
            <use xlink:href="#fa-menu"></use>
        </svg>
        Menu
    </a>
</nav>

<nav class="hidden-nav" id="hidden-nav" style="display: none;">
    <div class="hidden-nav-content">
        <!-- Close button -->
        <a href="#close" title="Close" class="close-button">
            <svg class="svg-icon-header" id="close-icon">
                <use xlink:href="#fa-close"></use>
            </svg>
            Close
        </a>

        <!-- Navigation links -->
        <div class="hidden-nav-links">
            {% for link in site.data.links %}
            <a href="{{ link.url }}" title="{{ link.title }}" {% if page.url==link.url %}class="current-page" {% endif
                %}>
                <svg class="svg-icon-header">
                    <use xlink:href="#{{ link.icon }}"></use>
                </svg>
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="hidden-nav-footer">
        {% include nav-footer.html toggle_id="mobile-theme-toggle" lightbulb_class="mobile-lightbulb-icon" moon_class="mobile-moon-icon" %}
    </footer>
</nav>

<!-- Sidebar Navigation (Initially Hidden) -->
<nav class="side-navbar" id="side-menu">
    {% for link in site.data.links %}
    <a href="{{ link.url }}" title="{{ link.title }}" {% if page.url==link.url %}class="current-page" {% endif %}>
        <svg class="svg-icon-sidebar">
            <use xlink:href="#{{ link.icon }}"></use>
        </svg>
        {{ link.title }}
    </a>
    {% endfor %}

    <footer class="hidden-nav-footer-sidebar" id="footer-sidebar">
        {% include nav-footer.html toggle_id="sidebar-theme-toggle" lightbulb_class="sidebar-lightbulb-icon" moon_class="sidebar-moon-icon" small=true %}
    </footer>

</nav>
