<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.data.brume.author }}",
  "url": "{{ site.url }}",
  "description": "{{ site.data.brume.description }}",
  "jobTitle": "PhD Student",
  "affiliation": {
    "@type": "Organization",
    "name": "University of Colorado Boulder",
    "url": "https://www.colorado.edu"
  },
  "sameAs": [
    "https://github.com/caterer-z-t",
    "https://www.linkedin.com/in/zacharytcaterer/",
    "https://orcid.org/0000-0001-9019-0730"
  ]
}
</script>
