<link rel="stylesheet" href="{{ '/assets/css/webweb/style.css' | relative_url }}">

<div id="webweb-container"></div>
<script type="text/javascript">
    var wwdata = {{ include.webweb_json | jsonify }};
    wwdata.display.attachWebwebToElementWithId = "webweb-container";
    wwdata.display.g = 0.4; // Adjust based on your requirements

    {% if include.responsive == true %}
    wwdata.display.w = undefined;
    wwdata.display.h = undefined;
    {% endif %}

    {% if include.fix_width == false %}
    wwdata.display.w = 250; // Set default width
    {% endif %}
    {% if include.fix_height == false %}
    wwdata.display.h = 250; // Set default height
    {% endif %}
</script>
<br>
<script type="text/javascript"
    src="{{ '/assets/js/webweb.bundle.js' | relative_url }}?{{ site.time | date: '%s%N' }}"></script>