---
layout: default
title: Blog
permalink: /blog/
---

<section class="archive">
    <div class="bundle row gutters">
        {% for post in site.posts limit:1 %}
        {% if post.type == "blog" %}
        <article class="single row gutters">
            <h3><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_10">{{ post.title
                    }}</a></h3>
            <div class="post-date col span_2">
                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
            <div class="col span_12">
                {{ post.content }}
            </div>
        </article>
        {% endif %}
        {% endfor %}

        {% for post in site.posts offset:1 limit:4 %}
        {% if post.type == "blog" %}
        <article class="single row gutters">
            <h3><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_10">{{ post.title
                    }}</a></h3>
            <div class="post-date col span_2">
                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
            <div class="col span_12">
                {{ post.content | strip_html | truncatewords: 50 }}
                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="read-more">Read more</a>
            </div>
        </article>
        {% endif %}
        {% endfor %}

        <ul class="posts">
            {% for post in site.posts offset:5 %}
            {% if post.type == "blog" and post.title != null %}
            <li itemscope>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <span class="entry-date">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ post.date | date: "%B %d, %Y" }}
                    </time>
                </span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div><a href="{{ site.baseurl }}/archives/" title="Archives" class="col span_12">Archives</a></div>
</section>