---
layout: default
title: Slides
permalink: /slides/
---

<h1>Slides</h1>

<!-- Display all slides, sorted by reverse date, in rows of 3 -->
<div class="recent-slides">
    {% assign sorted_slides = site.data.slides | sort: "date" | reverse %}
    {% for slide in sorted_slides %}
    <div class="slide-thumbnail">
        <a href="{% if slide.url %}{{ slide.url }}{% else %}{{ site.baseurl }}{{ slide.post }}{% endif %}" target="_blank">
            <img src="{{ site.baseurl }}{{ slide.image_path }}" alt="{{ slide.title }}" />
            <h3>{{ slide.title }}</h3>
        </a>
    </div>
    {% endfor %}
</div>

<!-- List of all slides -->
<h3>All Slides</h3>

{% if site.data.slides %}
<ul>
    {% for slide in sorted_slides %}
    <li>
        <strong>{{ slide.title }}</strong>
        <a href="{% if slide.url %}{{ slide.url }}{% else %}{{ site.baseurl }}{{ slide.post }}{% endif %}" target="_blank" class="btn btn-primary">View Slide</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No slides found.</p>
{% endif %}

<!-- Modal styling -->
<!-- Link to external CSS file for modal styling -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/slides/main.css">