<!DOCTYPE html>
<html>
<head>
    {% include header.html %}
</head>

<body>
    {% include icons.html %}

    <div class="container periwinkle">
        <header class="top row gutters">
            {% include navigation.html %}
        </header>

        {{ content }}

    </div>
    {% include footer.html %}
        
    <script type="text/javascript">
        lf = new BareFoot();
        lf.init();
    </script>

</body>

<script src="/assets/js/seo.js"></script>
<meta name="google-site-verification" content="Eqs9Ui2OeiFjS1qAuaHIG9Trta0saDI2dOgIhj-_d1U" />

</html>