Explore the visualization below to see how faculty move from their doctoral university to faculty jobs. This visualization supplements the <i>Nature</i> article <a href="https://www.nature.com/articles/s41586-022-05222-x">Quantifying hierarchy and dynamics in US faculty hiring and retention</a>. You can find links to the code and data used in that paper, as well as to another explorable visualization of how scholars move between universities when they become professors, <a href="{{ base.url | prepend: site.url }}/us-faculty/">here</a>.

Not sure what you're looking at? <a href='#' onclick='web.startTutorial(); return false;'>click here to start the tutorial</a>

<div id="hiring-flow-div"></div>

<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/us-faculty/webweb.js?{{site.time | date: '%s%N'}}"></script> 

<script type="text/javascript">
    var web = new Webweb.Webweb({{include.webweb_json | jsonify }})
</script>
