---
title: The Larremore Lab
layout: splash
permalink: /
header:
    overlay_color: "#000"
    overlay_filter: "0.2"
    overlay_image: /assets/images/mountains.jpg
excerpt: "Department of Computer Science <br>& BioFrontiers Institute <br>University of Colorado Boulder."
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-36889698-2"
    anonymize_ip: false 
---

<div>
<h2>About the lab</h2>
  <div id="chartContainerR"> 
    <div id="chart">
        {% include webweb.html webweb_json=site.data.index_web responsive=true %}
        <p id="chartInfo">Larremore Lab Collaboration Graph.</p>
    </div>
  </div>
  <div>
  <p><strong>The Larremore Lab</strong> focuses on developing methods of networks, dynamical systems, and statistical inference, to solve problems in infectious diseases and computational social science. We try to keep a tight loop between data and theory, and learn a lot from confronting models and algorithms with real problems in two key areas:</p>

  <p><strong>Infectious Diseases.</strong> The lab develops data-informed mathematical models for infectious disease surveillance and countermeasures, including testing, vaccination, and seroepidemiology, primarily for respiratory pathogens such as RSV, flu, and SARS-CoV-2. Past work has also focused on the malaria parasite <em>P. falciparum</em> and its rapid recombination to evade the human immune system. Our goal is to use models and computation to improve the study of pathogens and ultimately decrease the burden of disease.</p>

  <p><strong>The Scientific Ecosystem.</strong> The lab analyzes and models the patterns and processes that define the ecosystem of scientific research and discovery. Our goal is to combine rigorous computation, ecological theory, and social science to understand how the scientific community works, and how it can be made more equitable and more productive. Here, we continue to build on a decade-old collaboration with the <a href="https://aaronclauset.github.io/">Clauset Lab</a>.</p>

  <p><strong><a href="/dan">Dan Larremore</a></strong> leads the lab, as an Associate Professor at the University of Colorado Boulder in the <a href="https://www.colorado.edu/cs/">Department of Computer Science</a> and the <a href="https://www.colorado.edu/biofrontiers/">BioFrontiers Institute</a>, with an affiliation with the <a href="https://www.colorado.edu/amath/">Department of Applied Mathematics</a>, and as a member of the external faculty at the <a href="https://www.santafe.edu/">Santa Fe Institute</a> the <a href="https://ccdd.hsph.harvard.edu/">Center for Communicable Disease Dynamics</a> at the Harvard T.H. Chan School of Public Health.
  </div>
</div>

<div>
<h2>Lab News</h2>
<ul>
  {% for event in site.data.events %}
  <li>
    {% if event.date%}
      <b>{{event.date}} - </b>
    {% endif %}
    {{event.description}}
  </li>
  {% endfor %}
</ul>
</div>
